header,
article,
footer nav {
    max-width: 720px;
    margin: 0 auto;
    padding: 10px;
}


/* purple: #d84384; red: #E1332D */

body {
    overflow-x: hidden;
    line-height: 1.45;
    background: white;
    font-size: 16px;
    position: relative;
}

a.link {
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid;
    border-top: 1px solid;
    color: #d84384;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

a.link:hover {
    background: #d84384;
    color: #fff;
}

a.link.active {
    background: #d84384;
    color: #fff;
}


/* Nav */

header nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.navlinks {
    font-size: 14px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navlinks>a {
    margin-left: 17px;
    padding-bottom: 3px;
}

.navlogo {
    flex-grow: 1;
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    letter-spacing: -1.5px;
}


/* Text */

h1.title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

code {
    background-color: whitesmoke;
    padding: 2px;
    border-radius: 3px;
}

img {
    width: clamp(200px, 38vw, 750px);
    word-wrap: normal;
}