/* Just a custom them I made. */

.cm-s-zero.CodeMirror {
    background-color: #192127;
    color: #EEFFFF;
}

.cm-s-zero .CodeMirror-gutters {
    background: none;
    color: #546E7A;
    border: none;
}

.cm-s-zero .CodeMirror-guttermarker,
.cm-s-zero .CodeMirror-guttermarker-subtle,
.cm-s-zero .CodeMirror-linenumber {
    color: #546E7A;
}

.cm-s-zero .CodeMirror-cursor {
    border-left: 1px solid #0084ff;
}

.cm-s-zero div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-zero.CodeMirror-focused div.CodeMirror-selected {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-zero .CodeMirror-line::selection,
.cm-s-zero .CodeMirror-line>span::selection,
.cm-s-zero .CodeMirror-line>span>span::selection {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-zero .CodeMirror-line::-moz-selection,
.cm-s-zero .CodeMirror-line>span::-moz-selection,
.cm-s-zero .CodeMirror-line>span>span::-moz-selection {
    background: rgba(128, 203, 196, 0.2);
}

.cm-s-zero .CodeMirror-activeline-background {
    background: #1f2830
}

.cm-s-zero .cm-keyword {
    color: rgb(255, 145, 137);
}

.cm-s-zero .cm-operator {
    color: #89DDFF;
}

.cm-s-zero .cm-variable-2 {
    color: #EEFFFF;
}

.cm-s-zero .cm-variable-3,
.cm-s-zero .cm-type {
    color: #f07178;
}

.cm-s-zero .cm-builtin {
    color: #FFCB6B;
}

.cm-s-zero .cm-atom {
    color: #F78C6C;
}

.cm-s-zero .cm-number {
    color: rgb(181, 206, 168);
}

.cm-s-zero .cm-def {
    color: #82AAFF;
}

.cm-s-zero .cm-string {
    color: rgb(132, 189, 105);
}

.cm-s-zero .cm-string-2 {
    color: #f07178;
}

.cm-s-zero .cm-comment {
    color: #546E7A;
}

.cm-s-zero .cm-variable {
    color: rgb(86, 156, 214);
}

.cm-s-zero .cm-tag {
    color: #ee7a8e;
}

.cm-s-zero .cm-meta {
    color: #FFCB6B;
}

.cm-s-zero .cm-attribute {
    color: #C792EA;
}

.cm-s-zero .cm-property {
    color: #7eabdb;
}

.cm-s-zero .cm-qualifier {
    color: #55789c;
}

.cm-s-zero .cm-variable-3,
.cm-s-zero .cm-type {
    color: #DECB6B;
}

.cm-s-zero .cm-error {
    color: rgba(255, 255, 255, 1.0);
    background-color: #FF5370;
}

.cm-s-zero .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
    outline: white solid 1px;
}


/* hints */

.CodeMirror-hints.zero {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: whitesmoke;
    background-color: #1f2830 !important;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(79, 216, 67, 0.5), 0 0 10px rgba(67, 216, 124, 0.2);
    box-shadow: 0 0 10px rgba(84, 216, 67, 0.5), 0 0 10px rgba(67, 216, 92, 0.2);
    transition: all 0.15s;
}

.CodeMirror-hints.zero:hover {
    transform: scale(1.05);
}

.CodeMirror-hints.zero .CodeMirror-hint-active {
    transition: all 0.15s;
    background-color: #02b757 !important;
    color: white !important;
    transform: scale(1.03);
    -webkit-box-shadow: 0 0 10px rgba(79, 216, 67, 0.5), 0 0 10px rgba(67, 216, 124, 0.2);
    box-shadow: 0 0 10px rgba(84, 216, 67, 0.5), 0 0 10px rgba(67, 216, 92, 0.2);
}


/* lint */